.message-container {
  display: flex;
  width: 86.5%;
  height: 95vh;
  background-color: var(--main-color);
  margin-top: 20px;
}

.message-middle-content {
  flex: 0 0 40%;
  padding: 0px 20px 20px 20px;
  overflow-y: auto;
}

.message-heading {
  font: var(--font-heading);
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-raduis);
  padding: 12px 20px;
}

.message-search-container {
  margin-bottom: 15px;
  display: flex;
  padding: 12px 20px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-raduis);
}

.message-search-input {
  width: 100%;
  font: var(--font-primary);
  border: 1px solid white;
  outline: none;
}

.message-list {
  display: flex;
  flex-direction: column;
}

.message-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-raduis);
  margin-bottom: 10px;
}

.message-item:hover {
  cursor: pointer;
  background-color: var(--hover-icon-color);
}

.message-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.message-item-content {
  flex: 1;
  min-width: 0;
}

.message-item-name {
  font: var(--font-primary);
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-item-handle {
  font: var(--font-secondary);
  color: #888;
}

.message-item-text {
  font: var(--font-secondary);
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-item-date {
  font: var(--font-caption);
  color: #888;
  margin-left: 10px;
}

.message-right-content {
  flex: 0 0 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  overflow-y: hidden; /* Prevent overflow here, scrolling is inside the chat container */
  border-radius: var(--border-raduis);
  z-index: 1000000;
}

.message-chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 0 10px;
  gap: 10px; /* Add spacing between messages */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #afafaf transparent;
}

/* Custom Scrollbar for WebKit Browsers */
.message-chat-container::-webkit-scrollbar {
  width: 8px;
}

.message-chat-container::-webkit-scrollbar-track {
  background: transparent;
}

.message-chat-container::-webkit-scrollbar-thumb {
  background-color: var(--hover-icon-color);
  border-radius: 10px;
}

.message-chat-message {
  margin-bottom: 15px;
}

.message-chat-text {
  display: inline-block;
  padding: 18px 12.86px;
  border-radius: 25.71px 25.71px 25.71px 0;
  background-color: #333333;
  font: var(--font-primary);
  max-width: 80%;
  color: white;
}

.message-chat-time {
  display: block;
  font: var(--font-caption);
  color: #888;
  margin-top: 5px;
}

.message-chat-self {
  text-align: right;
}

.message-chat-self .message-chat-text {
  background-color: #B78A3A;
  border-radius: 25.71px 25.71px 0 25.71px;
}

.message-input-container {
  position: relative;
  display: flex;
  padding: 12px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-raduis);
}

.message-input {
  width: 100%;
  font: var(--font-primary);
  border: 1px solid white;
  outline: none;
  margin: 5px;
}

.message-input-actions {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.message-action-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.mobile-back-button {
  visibility: hidden;
}

/* Mobile styles */
@media screen and (max-width: 991px) {
  .message-container {
      overflow: hidden;
      margin-bottom: 80px;
      width: 100%;
  }

  .message-middle-content {
      flex: 0 0 100%;
      width: 100%;
      transition: transform 0.3s ease;
  }

  .message-right-content {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      flex: none;
      background-color: var(--main-color);
      transition: right 0.3s ease;
  }

  /* Class to show right content when active */
  .message-right-content.active {
      right: 0;
  }

  /* Back button for mobile */
  .mobile-back-button {
      display: none;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      font: var(--font-primary);
      visibility: visible;
  }

  .message-right-content .mobile-back-button {
      display: flex;
  }

  .message-item {
      cursor: pointer;

  }
  .mobile-back-button{
    display: block;
  }
}
.no-messages {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100%; /* Make sure it takes up full height of the container */
  text-align: center; /* Center text inside */
  font-size: 1.2rem; /* Optional, for better readability */
  color: #888; /* Optional, for a muted color */
}
.message-user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 10px;
}
.mobile-back-button{
  display: none;
}
.message-right-header{
  display: flex;
  align-items: center;
}
.unseen-count-badge {
  background-color: #31ff00;
  color: #fff;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 50%;
  text-align: center;
  margin-left: 8px;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  display: flex;
    justify-content: center;
    align-items: center;
}
