.rightSidebar {
  width: var(--rightContentWidth);
  padding-top: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height */
  overflow-y: auto; /* Allows scrolling when necessary */
  position: sticky; /* Keep it in place while scrolling */
  top: 0; /* Adjust to stick to the top */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.rightSidebar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

@media (max-width: 991px) {
  .rightSidebar {
    display: none; /* Hide the right sidebar on smaller screens */
  }
}
