.rightSidebar {
  width: var(--rightContentWidth);
 padding-top: 20px;
  /* padding: 1rem; */
  background-color: #ffffff;
  /* border-left: 1px solid #e0e0e0; */
  display: flex;
  flex-direction: column;
  /* flex: 0 0 25%; */
}
/* 
@media (max-width: 1024px) {
  .rightSidebar {
    width: 100%;
    border-left: none;
    border-top: 1px solid #e0e0e0;
  }
} */
@media (max-width: 991px) {
  .rightSidebar {
    display: none; /* Hide the right sidebar */
  }
}