.stayUpdated {
  background-color: var(--main-color);
  border: 1px solid var( --border-color);
  border-radius: var( --border-raduis);
  padding: 15px;
  margin-bottom: 20px;

}

.sectionTitle {
  font:var(--font-heading);
  margin-bottom: 15px;
}

.userSuggestion {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.userInfo {
  flex: 1;
}

.userName {
  font: var(--font-primary);
  font-weight: bold;
  margin: 0;
}

.userHandle {
  font:var(--font-secondary);
  color: #888;
  margin: 0;
}

.followButton {
  background-color: var(--button-color-Post-Follow);
  color: #fff;
  border: none;
  border-radius: var(--button-radius);
  padding: 5px 15px;
  font:var(--font-secondary);
  cursor: pointer;
}

.matchDate {
  font:var(--font-caption);
  color: rgba(51, 51, 51, 1);
  text-align: right;
  cursor: pointer;
}