.tipOfTheDay {
  background-color: var(--hover-icon-color);
  border-radius: var(-- --border-raduis);
  padding: 1rem;
  margin-bottom: 1rem;
}

.tipTitle {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.tipContent {
  font-size: 1rem;
  line-height: 1.4;
}