.matchNotificationItem {
    display: flex;
    flex-direction: column;
    flex: var(--middleContentWidth);
}

.matchHeader {
    display: flex;
    align-items: flex-start;
    padding: 8px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.matchDetails {
    flex-grow: 1;
}

.matchTitle {
    display: flex;
    align-items: center;
    font: var(--font-caption);
    color: #888;
    margin-bottom: 4px;

}

.type , .location{
    padding: 0 5px; 
    }

    .time {
        padding: 0 5px; 
        font: var(--font-primary);
        color: #b78a3a;
        font-weight: bold;
    }

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* padding:5px; */
}

.playerDetails {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 4px;
}

.player {
    /* padding:5px; */
    font: var(--font-primary);
    display: flex;
    align-items: center;
    gap: 6px;
}

.playerAvatar {
    margin:5px;
    width: 30px;
    height: 20px;
    /* border-radius: 4px; */
}

/* .actions {
    display: flex;
    gap: 8px;
} */
.actions {
    /* padding:5px; */
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
}

.buttons{
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.rejectButton,
.acceptButton {
    display: flex;
    align-items: center;
    font: var(--font-primary);
    gap: 4px;
    padding: 4px 12px;
    border: 1px solid var(--border-color);
    border-radius: var(--button-radius);
    cursor: pointer;
    background-color: transparent;
}

.icon {
    width: 16px;
    height: 16px;
}

.timestamp {
    font: var(--font-caption);
    padding: 5px;
    margin-left: 20px;
}

.sport {
    /* font-size: 14px;
    color: #b78a3a;
    font-weight: bold;
    margin-top: 8px; */
    font: var(--font-primary);
    color: #b78a3a;
    font-weight: bold;
    margin-top: 10px;
    /* padding:5px; */

}

.divider {
    height: 1px;
    background-color: #e7e7e8;
    margin: 10px auto;
    width: 90%;
}
.matchTitle .avatar {
    display: none;
  }
  .outsideAvatar {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
  }

/* Hide the original sport, time, and timestamp in .matchDetails for responsive view */
@media (max-width: 990px) {
    .matchTitle{
        /* border: 5px solid green; */
        margin-top:4px;
        padding: 0px;
        font: var(--font-primary);
        
    }
    .matchTitle .avatar {
        display: block;
      }
      .outsideAvatar {
        display: none;
      }
    /* Hide the content within the original .matchDetails in responsive view */

    /* Show .responsivehead only on smaller screens and hide it on larger screens */
    .responsivehead {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: 0.9em;
    }

    /* Display the responsive container only on smaller screens */
    .responsive {
        margin-top: 5px;
        display: flex;
        flex-direction: row; 
        gap: 4px;
    }
    .sport {
        padding: 5px;
        margin: 0px;
    }
    
    .time {
        padding: 5px;
        text-align: center;
    }
    .timestamp{
        margin-left: 80px;

    }
    /* Hide .responsivehead and .responsive on larger screens */
    @media (min-width: 991px) {
     
    }

    /* Adjust actions layout for responsive view */
    .actions {
        /* margin-left: auto; */
        margin-right: 10px;
        flex-direction: column;
    }
}
.matchStatus {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #888;
  }
.matchName{
    color: black;
    font:var(--font-primary);
}
.matchDivider{
    height: 1px;
    background-color: #e7e7e8;
    margin: 10px auto;
    width: 90%; 
}

@media (max-width: 404px){
    .actions{
        margin-right: 0px;
        margin-left: 0px;
        flex-direction: row;
    }
}