.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

.notificationHeader {
    display: flex;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;  
}

.notificationDetails {
    padding:5px;
    flex-grow: 1;
    border:1px;
    min-width: 0; 
}

.notificationTitle {
    font: var(--font-caption);
    color: #888;
    margin-bottom: 4px;
}

.time {
    font: var(--font-primary);
    color: #b78a3a;
    font-weight: bold;
}

.playerDetails {
    align-items: center;
    flex-direction: column; 
    gap: 8px;
    margin-bottom: 4px;
}

.player {
    font: var(--font-primary);
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 5px;
}

.playerAvatar {
    margin:5px;
    width: 30px;
    height: 20px;
}

.sport {
    font: var(--font-primary);
    color: #b78a3a;
    font-weight: bold;
    margin-top: 10px;
}

.notificationActions {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
}

.rejectButton,
.acceptButton {
    display: flex;
    align-items: center;
    font: var(--font-primary);
    gap: 4px;
    padding: 4px 12px;
    border: 1px solid var(--border-color);
    border-radius: var(--button-radius);
    cursor: pointer;
    background-color: transparent;
}
.buttons{
    display: flex;
    gap: 10px;
    margin-left: auto;
}
.icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
}

.notificationTimestamp {
    font: var(--font-caption);
    padding: 10px;
    margin-left: 20px;
}

.divider {
    height: 1px;
    background-color: #e7e7e8;
    margin: 10px auto;
    width: 90%;
    /* max-width: 540px; */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .mainContent {
        flex-direction: column;
        align-items: flex-start;
        margin:5px;
    }

    .notificationDetails {
        margin-left: 0;
        margin-top: 5px;
        margin:5px;

    }

    .notificationActions {
        margin-top: 8px;
        flex-direction: row; /* Stack actions horizontally on small screens */
    }
    /* .buttons{
        gap: 10px;
    } */

    .rejectButton, .acceptButton {
        padding: 4px 10px;
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .notificationHeader {
        flex-direction: column;
        align-items: flex-start;
    }

    .avatar {
        width: 25px;
        height: 25px;
        margin:5px;
    }

    .playerDetails {
        flex-direction: column;
    }

    .notificationActions {
        justify-content: space-between;
        width: 100%;
    }
    .buttons{
        margin-left:0px;
    }
}
