.userStats {
    margin-top: 20px;
    /* padding: 20px; */
  }
  .statsContainer{
    border: 1px solid var(--border-color);
    border-radius: var(--border-raduis);
    padding: 10px;
  }
  .statsTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .playerInfo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-around;
  }
  
  .playerName {
    font-size: 16px;
    margin-right: 10px;
  }
  
  .playerAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .statsToggle {
    display: flex;
    margin-bottom: 15px;
  }
  
  .activeToggle,
  .inactiveToggle {
    flex: 1;
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .activeToggle {
    background-color: var(--hover-icon-color);
    border-radius: var(--button-radius);
  }
  
  .statsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .statItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .statIcon {
    font-size: 19px;
    margin-bottom: 5px;
  }
  
  .statValue {
    font-size: 15px;
    font-weight: bold;
  }