.register-page {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
  }
  
  .register-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure content appears on top of the background */
    color: white;
    text-align: center;
  }
  
  .register-content h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  