.articles {
    background-color: #f1f1f1;
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .articles h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .articles p {
    font-size: 1.2rem;
  }
  