.mentors {
    background-color: #fbbc05;
    color: white;
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .mentors h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .mentors p {
    font-size: 1.2rem;
  }
  