* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {

  /* BGcolor */
  --main-color: #ffffff;

  /* Button Color */
  --hover-icon-color: #f0f0f0;
  --button-color-Post-Follow: #333;

  /* Radius */
  --border-raduis: 15px;
  --button-radius: 8px;

  /* Border */
  --border-color: #e7e7e8;

  /* Content Width */
  --middleContentWidth:  0 0 55%;
  --rightContentWidth:29%;
  --leftContentWidth:  17%

  /* text property */
  /* --font-heading: ;
  --font-primary: ;
  --font-caption */

  
  
}

.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  margin: 0px 100px;
}

.dashboardWrapper {
  display: flex;
  flex: 1;
  /* justify-content: space-between;  */
}

@media (max-width: 991px) {
  .contentWrapper {
    flex-direction: column;
  }
}
