/* .seprater{
  display: flex;
  flex-direction: column;

  } */
  .mainContent {
    padding: 20px;
    flex: var(--middleContentWidth);
  }
  
  /* @media (max-width: 991px) {
    .mainContent {
      order: -1;
    }
  } */