/* .seprater{
  display: flex;
  flex-direction: column;

  } */
  .mainContent {
    padding: 20px;
    flex: var(--middleContentWidth);
  }
  
  @media (max-width: 991px) {
    .mainContent {
      padding: 5px 20px;
      /* margin: 0px 22px; */
    }

  }
  @media (max-width: 400px) {
    .mainContent {
      padding: 5px 10px;
      /* margin: 0px 22px; */
    }

  }