.sidebar {
    /* width: 300px; */
    padding: 20px;
 width: 28%; 
    /* border: 1px solid #e7e7e8; */
  }
  
  @media (max-width: 991px) {
    .sidebar {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #e7e7e8;
    }
  }