.waiting-page {
    position: relative;
    width: 100%;
    height: 50vh; /* Full viewport height */
    overflow: hidden;
    display: flex; /* Use flexbox */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    }
  
    .waiting-page .background-slider {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; /* Keep background slider behind the login content */
    }
    .header {
      background-color: var(--main-color);
      height: 58px;
      width: 100%;
      text-align: center;
      padding: 7px;
      display: flex;
      justify-content: center;
    }
    
    .waiting-box {
      position: relative; /* Ensure the content flows properly within this box */
      width: 100%;
      max-width: 380px; /* Limit the max width */
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: to give some shadow effect */
      padding: 0px;
  
    }
    .registerContainer{
      color: #333; /* Text color for better contrast */
      text-align: center;
      border-radius: 10px;
      background: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Roboto, sans-serif;
      justify-content: center;
      padding: 40px;
      border: 1px solid #e7e7e8;
      
    }
  
    .headerSection {
      display: flex;
      flex-direction: column;
      color: #333;
      text-align: center;
      padding: 10px 20px 0;
    }
    
    .title {
      font-size: 32px;
      font-weight: 600;
    }
    
    .subtitle {
      font-size: 20px;
      font-weight: 400;
      margin-top: 21px;
    }
  
    @media (max-width: 991px) {
      .waiting-box {
        width: 90%;
        padding: 0px;
      }
    
      .loginContainer {
        padding: 20px;
      }
    
      .title {
        font-size: 24px;
      }
    
      .subtitle {
        font-size: 18px;
      }

    
    }
    @media (max-width: 480px) {
      .waiting-box {
        max-width: 330px;
        padding: 0px;
      }
    
      .registerContainer {
        padding: 15px;
      }
    
      .title {
        font-size: 20px;
      }
    
      .subtitle {
        font-size: 16px;
      }
    
    }