.passion-page {
    position: relative;
    width: 100%;
    height: 135vh; /* Full viewport height */
    overflow: hidden;
    display: flex; /* Use flexbox */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    }
  
    .passion-page .background-slider {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; /* Keep background slider behind the login content */
    }
    .header {
      background-color: var(--main-color);
      height: 58px;
      width: 100%;
      text-align: center;
      padding: 7px;
      display: flex;
      justify-content: center;
    }
    
    .passion-box {
      position: relative; /* Ensure the content flows properly within this box */
      width: 100%;
      max-width: 550px; /* Limit the max width */
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: to give some shadow effect */
      padding: 0px;
  
    }
    .passionContainer{
      color: #333; /* Text color for better contrast */
      text-align: center;
      border-radius: 10px;
      background: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Roboto, sans-serif;
      justify-content: center;
      padding: 30px 40px;
      border: 1px solid #e7e7e8;
      
    }
  
    .headerSection {
      display: flex;
      flex-direction: column;
      color: #333;
      text-align: center;
      padding: 10px 20px 0;
    }
    
    .title {
      font-size: 32px;
      font-weight: 600;
    }
    
    .subtitle {
      font-size: 20px;
      font-weight: 400;
      margin-top: 10px;
    margin-bottom: 10px;
    }
  
  
  
    .inputContainer {
      border-radius: 10px;
      width: 100%;
      margin-top: 10px;
    }
    
    .inputLabel {
      color: #333;
      font-weight: 800;
      font-size: 12px;
      display: block;
      margin-left: 10px;
    }
    
    .inputField {
      border-radius: 10px;
      background: #fff;
      width: 100%;
      margin-top: 10px;
      padding: 13px 10px;
      border: 1px solid #333;
      color: rgba(51, 51, 51, 0.5);
      font-weight: 300;
      font-size: 12px;
    }
    
    .termsContainer {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-top: 10px;
      font-size: 12px;
    }
    
    .checkbox {
      width: 8px;
      height: 8px;
      border: 1px solid #333;
      border-radius: 2px;
    }
    
    .termsLabel {
      color: #333;
      font-weight: 800;
    }
    
    .submitButton {
      border-radius: 10px;
      background: #333;
      width: 55%;
      margin-top: 10px;
      padding: 8px;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      border: 1px solid #e7e7e8;
      cursor: pointer;
    }
    .submitButton:hover {
      background: #555; /* Slightly lighter background on hover */
      color: #e7e7e8; /* Change text color for contrast */
      border-color: #fff; /* Highlight the border */
      transform: translateY(-2px); /* Lift the button slightly */
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    }
    
    .loginLink {
      color: #333;
      font-size: 12px;
      font-weight: 800;
      margin-top: 10px;
      text-align: center;
    }
    
    .dividerContainer {
      display: flex;
      align-items: center;
      gap: 16px;
      width: 100%;
      margin-top: 10px;
    }
    
    .dividerLine {
      flex: 1;
      height: 1px;
      background: #333;
    }
    
    .dividerText {
      color: #333;
      font-size: 12px;
      font-weight: 500;
    }
    
    .googleButton {
      border-radius: 10px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      align-items: center;
      gap: 14px;
      margin-top: 10px;
      padding: 8px 6px;
      border: 1px solid rgba(51, 51, 51, 0.5);
      background: #fff;
      cursor: pointer;
      width: fit-content;
    }
    
    .googleIcon {
      width: 21px;
      height: 21px;
      object-fit: contain;
    }
    
    .googleButtonText {
      color: #333;
      font-size: 17px;
      font-weight: 400;
      letter-spacing: 0.09px;
    }
  
    @media (max-width: 991px) {
      .passion-box {
        width: 90%;
        padding: 0px;
      }
    
      .loginContainer {
        padding: 20px;
      }
    
      .title {
        font-size: 24px;
      }
    
      .subtitle {
        font-size: 18px;
      }
    
      .formInput {
        font-size: 14px;
      }
    
      .loginButton {
        font-size: 18px;
      }
    
      .signUpButton {
        font-size: 14px;
      }
    
    }
    @media (max-width: 598px) {
    .passion-page{
        height: 123vh;
    }
      .passion-box {
        max-width: 330px;
        padding: 0px;
      }
    
      .passionContainer {
        padding: 15px;
      }
    
      .title {
        font-size: 20px;
      }
    
      .subtitle {
        font-size: 16px;
      }
    
      .formInput {
        font-size: 12px;
      }
    
      .loginButton {
        font-size: 16px;
      }
    
      .signUpButton {
        font-size: 12px;
      }
    
      .googleButton {
        padding: 8px;
      }
    }


    /* additional */

    .card {
      border-radius: 9px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 136px;
      margin: auto 0;
      padding: 8px;
      border: 1px solid rgba(231, 231, 232, 1);
      transition: border 0.3s ease, transform 0.2s ease;
      cursor: pointer;
    }
    
    .card-active {
      border: 3px solid rgba(51, 51, 51, 1); /* Dark border for selected state */
      transform: scale(1.05); /* Optional: Slight scale effect to emphasize selection */
    }
    
      
      .sportImage {
        aspect-ratio: 1.41;
        object-fit: contain;
        object-position: center;
        width: 93px;
        border-radius: 9px;
      }
      
      .content {
        align-self: center;
        display: flex;
        margin-top: 8px;
        width: 63px;
        flex-direction: column;
        justify-content: flex-start;
      }
      
      .sportName {
        font-size: 13px;
        font-weight: 800;
      }
      
      .followers {
        font-size: 11px;
        font-weight: 300;
        margin-top: 4px;
      }
      .container {
        display: flex;
        align-items: center;
        gap: 9px 24px;
        font-family: Roboto, sans-serif;
        color: rgba(51, 51, 51, 1);
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
      }
.sport-name{
    font-size: 13px;
}
  .Skip{
        border-radius: 10px;
        background: #ffffff;
        width: 100%;
        margin-top: 10px;
        padding: 8px;
        color: #000000;
        font-size: 16px;
        font-weight: 700;
        border: 1px solid #e7e7e8;
        cursor: pointer;

    }
    .Skip:hover{
        background: #555; /* Slightly lighter background on hover */
      color: #e7e7e8; /* Change text color for contrast */
      border-color: #fff; /* Highlight the border */
      transform: translateY(-2px); /* Lift the button slightly */
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    }
    
    .backIcon:hover{
      transform: scale(1.1); /* Slight zoom on hover */
    }
    