.facilities {
    display: flex;
    flex: var(--middleContentWidth);
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  .searchContainer {
    display: flex;
    margin-top: 5px;
    width: 621px;
    max-width: 100%;
    flex-direction: column;
  }
  
  .searchBar {
    border-radius: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 40px 100px;
    overflow: hidden;
    color: rgba(51, 51, 51, 0.5);
    white-space: nowrap;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12px 20px;
    font: 400 20px Roboto, sans-serif;
    border: 1px solid #e7e7e8;
  }
  
  .searchInputWrapper {
    align-self: stretch;
    display: flex;
    gap: 20px;
    width: 106px;
    margin: auto 0;
  }

  .searchInputWrapper > input {
    outline: none;
    border:none;
  }
  
  .icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
  }
  
  .filterIcon {
    composes: icon;
    align-self: stretch;
    margin: auto 0;
  }
  
  .filterSection {
    display: flex;
    margin-top: 10px;
    width: 100%;
    gap: 20px;
    color: #333;
    flex-wrap: wrap;
    font: 400 14px Roboto, sans-serif;
  }
  
  .locationNav {
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    justify-content: center;
    padding: 8px 10px;
    border: 1px solid #e7e7e8;
  }
  .venueContainer{
    display: flex;
    flex-direction: column;
    gap:10px;
    overflow-y:auto;
  }

  .venueCard {
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 12px;
  }

  .venueImage {
    width: 620px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--border-raduis);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding : 20px;
  }

  .venueInfo {
    display: flex;
    width: 100%;
    font-size: 40px;
    color: #fff;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-weight:500;
    bottom: 0;
  }
  
  .venueName {
    font-weight: 500;
    align-self: stretch;
    flex: 1;
    flex-basis: 0%;
    margin: auto 0;
  }

  .locationIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 16px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .dateTime {
    align-self: stretch;
    border-radius: 10px;
    gap: 10px;
    padding: 8px 10px;
    border: 1px solid #e7e7e8;
  }
  
  .sportsList {
    overflow-x: auto;
    align-self: start;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    font-size: 17px;
    font-weight: 300;
    white-space: nowrap;
  }
  
  .sportTag {
    align-self: stretch;
    border-radius: 9px;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .activeTag {
    composes: sportTag;
    background-color: #e7e7e8;
    border: 2px solid #e7e7e8;
  }
  
  
  .timeSlot {
    color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    font-weight: 400;
    text-align: right;
  }
  
  .price {
    font-weight: 700;
    text-align: right;
    align-self: stretch;
    margin: auto 0;
  }
  
  .timeSlots {
    display: flex;
    width: 480px;
    max-width: 100%;
    gap: 9px;
    font-size: 16px;
    color: #333;
    font-weight: 400;
  }
  
  .timeButton {
    align-self: stretch;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #e7e7e8;
    cursor: pointer;
  }
  
  @media (max-width: 991px) {
    .facilities {
      padding: 0 20px;
      margin-bottom: 80px;
    }
    
    .searchBar,
    .filterSection,
    .venueContainer,
    .venueCard,
    .venueImage,
    .timeSlot,
    .venueName {
      max-width: 100%;
    }
    
    .searchInputWrapper,
    .sportsList,
    .sportTag {
      white-space: initial;
    }
    
  }
  