.sidebar {
    /* width: 300px; */
    /* padding: 20px; */
 width: var(--leftContentWidth);
 padding-top: 20px;
    /* border: 1px solid #e7e7e8; */
    background-color: var(--main-color);
  }
  
  @media (max-width: 991px) {
    .sidebar {
      padding-top: 0px;
      position: fixed;
      width: 100%; /* Full width on smaller screens */
      height: auto; /* Adjust height so it doesn't cover full screen */
      bottom: 0; /* Fix it to the bottom of the screen */
      top: unset; /* Unset the top property so it doesn't conflict */
      left: 0; /* Keep it aligned to the left */
      border-right: none;
      border-bottom: none; /* No bottom border since it's at the bottom */
    }
  }