.sidebar {
  width: var(--leftContentWidth);
  padding-top: 20px;
  position: sticky;
  top: 0; /* Sticks the element at the top of the viewport when scrolling */
  height: 100vh; /* Full height to occupy */
  overflow-y: auto; /* Allows internal scrolling */
  background-color: var(--main-color);
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.sidebar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

@media (max-width: 991px) {
  .sidebar {
    width: 100%; /* Full width on smaller screens */
    height: auto; /* Adjust height so it doesn't cover the full screen */
    bottom: 0; /* Fix it to the bottom of the screen */
    left: 0; /* Keep it aligned to the left */
    top: unset; /* Unset the top property so it doesn't conflict */
    position: fixed; /* Keep the sidebar fixed at the bottom */
    z-index: 100000;
    padding-top: 0;
  }
}
