.logoContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logoImage {
    width: 115px;
    height: 49px;
    margin-right: 10px;
  }
  @media (max-width: 991px) {
    .logoContainer{
      display: none;
    }
  }