.navigationMenu {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: var(--border-raduis);
    padding: 10px;
  }
  
  .menuItem {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .menuItem:hover {
    background-color: var(--hover-icon-color);
    border-radius: var( --button-radius);
  }
  
  .activeMenuItem {
    background-color: var(--hover-icon-color);
    border-radius: var( --button-radius);
  }
  
  .menuIcon {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .menuLabel {
    font-size: 16px;
  }
  
  @media (max-width: 991px) {
    .navigationMenu {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  
    .menuItem {
      flex-direction: column;
      align-items: center;
    }
  
    .menuIcon {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }