.matchesSection {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: 0 80px 9px;
  }
  
  .matchesContainer {
    display: flex;
    margin-top: 5px;
    width: 100%;
    max-width: 641px;
    flex-direction: column;
    align-items: center;
  }
  
  .matchesTitle {
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    color: #333;
    padding: 15px 28px;
    font: 600 18px Roboto, sans-serif;
    border: 1px solid #e7e7e8;
  }
  
  .filterContainer {
    display: flex;
    margin-top: 8px;
    width: 100%;
    gap: 10px;
    color: #333;
    flex-wrap: wrap;
    font: 400 14px Roboto, sans-serif;
  }
  
  .locationFilter,
  .matchTypeFilter,
  .filterButton {
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 10px;
    border: 1px solid #e7e7e8;
  }
  
  .locationIcon {
    width: 16px;
    height: 16px;
  }
  
  .sportTypeFilter {
    overflow-x: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 17px;
    font-weight: 300;
  }
  
  .activeFilter {
    background-color: #e7e7e8;
  }
  
  .matchCardContainer {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: start;
    padding: 10px 10px 0;
  }
  
  @media (max-width: 991px) {
    .matchesSection {
      padding: 0 20px;
    }
  
    .matchesTitle {
      white-space: initial;
      padding: 15px 20px;
    }
  
    .matchCardContainer {
      max-width: 100%;
    }
  }