.matchCard {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  padding: 10px 2px;
}

.matchHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.matchInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #818181;
  font-weight: 400;
}

.predictLabel {
  color: #818181;
  font-weight: 400;
  font-size: 14px;
}

.playerSection,
.playerSimple {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.playerImage {
  width: 27px;
  height: 15px;
  border-radius: 2px;
  object-fit: cover;
}

.predictionBar {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid #e2e8f0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.checkbox:hover {
  border-color: #4299e1;
}

.disabledCheckbox {
  border-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.5;
}

.selectedCheckbox {
  background-color: #4299e1;
  border-color: #4299e1;
}

.selectedDisableCheckbox {
  background-color: #d7dadc;
  border-color: #cccccc;
  cursor: not-allowed;
}



.progressBarContainer {
  width: 120px;
  height: 6px;
  background-color: #f0f0f0;
  border-radius: 3px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background-color: #4299e1;
  border-radius: 3px;
  transition: width 0.3s ease;
}

.predictionText {
  min-width: 36px;
  text-align: right;
  color: #666;
  font-size: 14px;
}

.matchFooter {
  margin-top: 10px;
}

.matchDetails {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #b78a3a;
}

.sportType {
  font-weight: 500;
}

.voteInfo {
  color: #818181;
  font-weight: 400;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}

@media (max-width: 991px) {
  .matchCard {
    max-width: 100%;
  }

  .progressBarContainer {
    width: 80px;
  }
} 