/* Existing styles */

/* Prevent scrolling on the entire page when the modal is open */
.noScroll {
  overflow: hidden;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    max-width: none !important;
    border-radius: 25px;
    background-color:var(--main-color);
    position: relative;
    display: flex;
    /* max-width: 534px; */
    flex-direction: column;
    align-items: center;
    /* font-family: Roboto, sans-serif;
    font-weight: 400; */
    justify-content: flex-start;
    padding: 50px 40px 40px;
    border: 1px solid var(--border-color);
    max-height: 90vh;
    overflow-y: auto;
    overflow: auto; /* or scroll, if you want to force scrolling */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  .modalContent::-webkit-scrollbar {
    display: none;
  }
  .closeIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    align-self: start;
    position: absolute;
    z-index: 0;
    right: 22px;
    top: 16px;
    height: 24px;
    cursor: pointer;
    /* left: 0px; */
  }

/* Add a media query for screens with a maximum width of 770px */
@media (max-width: 770px) {
  .modalContent {
    width: 100%;
    height: 100%;
    max-height: 100vh; /* Make sure the modal uses the full height */
    border-radius: 0; /* Remove border-radius to cover the full screen */
    padding: 50px 40px 40px; /* Adjust padding as needed */
  }

  .modalOverlay {
    align-items: flex-start; /* Align overlay to start for the scrollable content */
  }
  .closeIcon{
    left: 14px;
    right: 0px;
    top: 11px;
  }
}
