.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    max-width: none !important;
    border-radius: 25px;
    background-color:var(--main-color);
    position: relative;
    display: flex;
    /* max-width: 534px; */
    flex-direction: column;
    align-items: center;
    /* font-family: Roboto, sans-serif;
    font-weight: 400; */
    justify-content: flex-start;
    padding: 50px 40px 40px;
    border: 1px solid var(--border-color);
    max-height: 90vh;
    overflow-y: auto;
    overflow: auto; /* or scroll, if you want to force scrolling */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  .modalContent::-webkit-scrollbar {
    display: none;
  }
  .closeIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    align-self: start;
    position: absolute;
    z-index: 0;
    right: 22px;
    top: 16px;
    height: 24px;
    cursor: pointer;
  }

  /* .modalContent {
    width: 45%;
  }
  
  .modalContentTeam{
    width: 100%; 
  }

  @media (max-width: 991px) {
    .modalContent {
      width: 70%;
        }
  } */
    