SearchItem.module.css
.imageGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .imageCard {
    position: relative;
    overflow: hidden;
    /* border-radius: var(--border-radius); */
  }
  
  .imageCard img {
    /* border-radius: var(--border-raduis); */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .label {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font: var(--font-primary);
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 10px;
  }
  
  .icon {
    margin-left: 8px;
    /* font-size: 14px; */
  }
  