
.mainContent {
  padding: 20px;
  flex: var(--middleContentWidth);
}

.notificationWrapper {
  /* padding: 20px; */
  flex: var(--middleContentWidth);
  border-radius: var(--border-raduis);
}  
  .notificationWrapper {
    background-color: var(--background-color);
}

  .searchHeader {
    width:100%;
    font: var(--font-heading);
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: var(--border-raduis);
    width: auto;
}

.searchIcon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 24px;
    object-fit: contain;
    pointer-events: none; 
}

.input {
    width: 100%;
    padding: 15px 15px 15px 45px; 
    border: 1px solid transparent;
    font: var(--font-secondary);
    border-radius: var(--border-radius, 15px);
}

  
  .searchToggle {
    display: flex;
    gap: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font:var(--font-secondary)
  }
  .activeToggle,
.inactiveToggle {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  background: none;
  cursor: pointer;
  border-radius: var(--button-radius);
  font:var(--font-primary);
}

.activeToggle {
  background-color: var(--hover-icon-color);
  font:var(--font-primary);
  font-weight: bold;
}

.heading{
  font: var(--font-heading);
  margin-top: 10px;
  margin-bottom: 10px;
}
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.mobileOnly {
  display: none;
}
.navIcon{
  display:none;
  size: var(--font-icon);
}

 
 @media (max-width: 990px) {
  .mainContent{
    /* overflow: hidden; */
    margin-bottom: 80px;
  }
  .input:focus {
    outline: none; 
    border: 1px solid black; 
  }
  .input {
    padding: 12px 10px 12px 40px;
    /* border: 1px solid black; */
    font: var(--font-heading);
  }

  .searchToggle {
    gap: 10px;
  }

  .activeToggle,
  .inactiveToggle {
    padding: 0.3rem;
    font: var(--font-heading);
  }
  .heading {
    font: var(--font-heading);
  }
 
  .notificationWrapper {
    width: 100%;
  }
.topHeader{
display:flex;
gap: 10px;
/* padding:10px; */
align-items: center;
}
.navIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  padding: 5px;

}
.searchHeader{
  width:100%;
}
  .mobileOnly {
    padding-top:20px;
    display: block;
  }
 .gridContainer {
    /* overflow:hidden; */
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
  }
  

} 












