
  .imageCard {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .imageCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .label {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font: var(--font-primary);
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 10px;
  }
  
  .icon {
    margin-left: 8px;
  }



